<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="form">
        <form action="/postLoginRequire" method="post">
            <div>Tên đăng nhập: <input type="text" class="input-group" name="username"/> </div>
            <div>Mật khẩu: <input type="text" class="input-group" name="password"/></div>
            <div>
                <button> Send </button>
            </div>
        </form>
    </div>
</body>
</html>