html, body {
  margin: 0; /* Xóa margin mặc định */
  padding: 0; /* Xóa padding mặc định */
  min-height: 100%; /* Đảm bảo chiều cao tối thiểu là 100% trình duyệt */
  height: 100%; /* Đảm bảo thẻ html và body chiếm hết chiều cao */
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt chiều cao */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column; /* Sắp xếp nội dung theo cột */
  min-height: 100vh; /* Chiều cao tối thiểu là chiều cao của trình duyệt */
  background-color: #ecfaf8 ;
}

h2 {
  color: #046262;
}