/* Tiêu đề */
h1 {
    text-align: center;
    color: #046262; /* Nâu cam đậm */
    margin-bottom: 50px;
    font-size: 2rem;
  }

  /* Container cho bảng */
.table-container {
  width: 90%;
  max-height: 400px; /* Chiều cao tối đa của bảng */
  overflow-y: auto; /* Hiển thị thanh cuộn dọc nếu nội dung vượt quá chiều cao */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
  border: 2px solid #046262; /* Nâu cam đậm */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
  opacity: 90%;
  border-radius: 5px;
}

/* Các kiểu bảng cũ */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff; /* Nền trắng */
}

.table-container::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn */
}

.table-container {
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

  /* Tiêu đề cột */
  thead th {
    background-color: #67bbad; /* Nâu cam nhạt */
    color: #053a4e; /* Màu chữ trắng */
    font-size: 1rem;
    position: sticky; /* Cố định tiêu đề */
    top: -2px; /* Dính ở đầu */

  }

  thead {
    border: 1px solid #046262;
  }

  tbody th, td {
    font-size: 0.9rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /* Các ô bảng */
  th, td {
    border: 1px solid #046262; /* Nâu cam đậm */
    padding: 10px;
    text-align: center;
  }
  
  
  
  /* Hàng dữ liệu */
  td {
    background-color: #eaf2f8; /* Xanh dương nhạt */
    color: #34495e; /* Xanh đen */
  }
  
  /* Hàng chẵn */
  tbody tr:nth-child(even) {
    background-color: #e5f2f8; /* Xanh dương sáng hơn */
  }
  
  /* Hiệu ứng hover */
  tbody tr:hover {
    background-color: #238575; /* Cam sáng */
    color: #ffffff; /* Màu chữ trắng */
  }
  
  .ListFlight {
    text-align: center;
    display: flex;
    flex-direction: column; /* Sắp xếp nội dung theo cột */
    min-height: 750px; /* Chiều cao tối thiểu là chiều cao của trình duyệt */
    background-image: url('../../assets/image/backgroud1.webp');   
    background-size: cover; 
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /*Không lặp lại */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*Đổ bóng viền */
  }
