.check {
  text-align: center;
  padding: 20px;
}
.check-container{
  text-align: center;
  background-color: white;
  width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}

form {
  background-color:aliceblue;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-check {
  padding: 20px;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
}

.form-control {
  margin-left: 40px;
  width: 250px;
}

