.header-checkBooking {
  display: flex;
  height: 100px;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*Đổ bóng viền */
}

.header-checkBooking .logo {
  margin: 0 100px 0 350px;
}

.header-checkBooking h2 {
  margin: 0px;
  /* Xóa margin mặc định của h2 */
  font-size: 30px;
}

.container-checkBooking {
  margin: 20px auto;
  width: 90%;
  display: flex;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
}

.left-checkBooking {
  width: 30%;
  background-color: rgb(250, 251, 251);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Hiệu ứng đổ bóng */
  height: 280px;
}

.left-checkBooking h3 {
  font-size: 20px;
  margin: 30px auto;
}

.info-checkBooking {
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
}

.info-checkBooking span {
  color: rgb(156, 210, 210);
  width: 120px;
  text-align: left;
}

.checkbox-ticket-row {
  display: flex;
  /* Sử dụng flexbox */
  align-items: center;
  /* Canh giữa theo chiều dọc */
  gap: 10px;
  /* Khoảng cách giữa checkbox và TicketB */
}

.checkbox-ticket-row input[type="checkbox"] {
  margin: 0;
  /* Loại bỏ khoảng cách mặc định */
  width: 10%;
}


.right-checkBooking {
  width: 70%;
  background-color: rgb(246, 250, 249);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Hiệu ứng đổ bóng */
}

.right-checkBooking h3 {
  font-size: 20px;
  margin: 30px auto;
}

.right-checkBooking button[type="button"]{
  margin-bottom: 5%;
  width: 20%;
  padding: 1.5% 0;
}

.right-checkBooking .cancel-btn {
  margin-top: 10px;
  margin-right: 100px;
  background-color: red;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 10px;
}

.right-checkBooking .cancel-btn:hover {
  background-color: rgb(180, 5, 5);
  /* Màu đỏ đậm hơn */
}

/* Responsive Styles */
@media (max-width: 1270px) {
  .header-checkBooking {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;

  .logo {
      display: none;
  }
  }

  .header-checkBooking h2 {
    font-size: 24px;
  }

  .container-checkBooking {
    flex-direction: column;
    gap: 20px;
    width: auto;
  }

  .left-checkBooking, .right-checkBooking {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 670px) {
  .right-checkBooking button[type="button"]{
    margin-bottom: 10px;
    width: 51%;
    padding: 1% 0;
    margin-right: 0;
  }

}

@media (max-width: 480px) {
  .header-checkBooking h2 {
    font-size: 16px;
  }

  .info-checkBooking {
    font-size: 12px;
  }

  .right-checkBooking button[type="button"]{
    margin-bottom: 5px;
    width: 55%;
    padding: 1% 0;
    margin-right: 0;
  }

  .checkbox-ticket-row input[type="checkbox"] {
    width: 12px;
  }

  .right-checkBooking .cancel-btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}