.edit-plane {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  border: 1px solid orange;
  padding: 1rem;
  border-radius: 1rem;
  pointer-events: auto;
}

.edit-plane-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.edit-plane-button {
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.cancel-plane-button {
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
