.rank-table {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.rank-table-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.rank-table-table th,
.rank-table-table td {
  padding: 0.5rem;
}
