.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
  margin: auto;
  width: 100px;
}

.sidebar .logo {
  width: 100%;
}

.btn-container {
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
}

/* .link-btn {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: white;
} */

.link {
  text-decoration: none;
  color: #046262;
  font-weight: bold;
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.sibar .active,
.btn-container:hover {
  background-color:  #e1a21b;
}
